<footer class="row">
    <div class="row footone" style="margin-bottom:0">
      <div class="col s12 col m4 footbox">
        <div class="row" style="font-size:30px">MODOS DE PAGO</div>
        <i class="material-icons">monetization_on</i> Efectivo <br>
        <i class="material-icons">account_balance</i> Transferencias o Depósitos <br>
        <i class="material-icons">timer</i> Tiempo de entrega: Inmediato (dependiendo del lugar de entrega puede variar). <br>
        <i class="material-icons">undo</i>   Devoluciones: 24 hora después de recibido el pedido
      </div>
      <div class="col s12 m4 center footbox">
        <div class="row" style="font-size:30px">VENTAS AL DETAL</div>
        <p><i class="material-icons">phone_iphone</i>: 62409961 – 63287921</p>
        <div class="row" style="font-size:30px">VENTAS AL MAYOR</div>
        <p>
          <!-- <i class="material-icons">email</i> dgaccesoriospty@gmail.com <br> -->
          <i class="material-icons">email</i> contacto@dgshopping.com
        </p>
      </div>
      <div class="col s12 m4 center footbox">
        <div class="row" style="font-size:30px">NO OLVIDES</div>
        <p>
          Siguenos a traves nuestras redes sociales y enterate de todo lo nuevo!<br>

          <a href="https://www.facebook.com/Dgshopping-664861123630342/?fref=ts" target="blank">
            <i class="fa fa-facebook-official" style="font-size:38px; padding-right:5px" aria-hidden="true" target="blank"></i>
          </a>

          <a href="https://www.instagram.com/dgshoppingpty/">
            <i class="fa fa-instagram" style="font-size:38px" aria-hidden="true"></i>
          </a>

        </p>
      </div>
    </div>

    <div class="row foottwo" >
      © Copyright 2016 by <a href="www.dgshopping.com">dgshopping</a>. All Rights Reserved.
    </div>

</footer>

<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>



<script>
  $(".button-collapse").sideNav();
  $('.carousel.carousel-slider').carousel({full_width: true});
  $(document).ready(function(){
      $('.parallax').parallax();
      $('.modal').modal();

    });
</script>
