<footer class="row">
    <div class="footer-links">
      <a href="#" class="deathlinks">Condiciones de entrega</a> - 
      <a href="#" class="deathlinks">Bienvenidos</a> - 
      <a href="#" class="deathlinks">Quienes somos</a> - 
      <a href="#" class="deathlinks">Contacto</a> - 
      <a href="#" class="deathlinks">Modos de pago</a>
    </div>
    <div class="footer-socialmedia center">
      <a href="https://www.facebook.com/Dgshopping-664861123630342/?fref=ts" target="blank">
        <i class="fa fa-facebook-official" style="font-size:38px; padding-right:5px" aria-hidden="true" target="blank"></i>facebook
      </a>
      &nbsp &nbsp &nbsp &nbsp
      <a href="https://www.instagram.com/dgshoppingpty/" target="blank">
        <i class="fa fa-instagram" style="font-size:38px" aria-hidden="true"></i> instagram
      </a>
    </div>

    <div class="row foottwo" >
      © Copyright 2016 by <a href="www.dgshopping.com">dgshopping</a>. All Rights Reserved.
    </div>

</footer>

<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>



<script>
  $(".button-collapse").sideNav();
  $('.carousel.carousel-slider').carousel({full_width: true});
  $(document).ready(function(){
      $('.parallax').parallax();
      $('.modal').modal();

    });

  $('.deathlinks').on('click',function(e){
    e.preventDefault();
  })
  
  // document.querySelector("#id-a1").addEventListener("click", function(event){
  //     alert("preventDefault will stop you from checking this checkbox!")
  //     event.preventDefault();
  // }, false);

</script>
