<header class="row">

  <div class="row top-bar">
    <div class="col s12 m10">
      <div class="col s2">
        <img src="/img/Panama-Flag-icon.png" class="responsive-img flag" alt="">
      </div>
      <!-- <div class="col s12 m4">
        <a href="#modalContact" style="color:#4da197">
          <i class="fa fa-phone" aria-hidden="true"></i> (+507) 6240 9961 - 6328 7921
        </a>
      </div> -->
      <div class="col s10 right-align hide-on-med-and-up">
        <!-- <a href="#modalContact" style="color:#4da197"> -->
          <i class="fa fa-envelope" aria-hidden="true"></i> contacto@dgshopping.com
        <!-- </a> -->
      </div>
      <div class="col m8 hide-on-small-only">
        <!-- <a href="#modalContact" style="color:#4da197"> -->
          <i class="fa fa-envelope" aria-hidden="true"></i> contacto@dgshopping.com
        <!-- </a> -->
      </div>
    </div>
    <div class="col m2 hide-on-small-only">
      <ul class="social-icons">
        <li>
          <a href="https://www.facebook.com/Dgshopping-664861123630342/?fref=ts" target="blank">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/dgshoppingpty/" target="blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="/private-access">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- <div class="col s12 m6 offset-m4">D&G Shopping - Proveedor número 1 en accesorios para tu vehículo</div> -->
  </div>

  <div class="row bfr-nav">
    
    <div class="col m3 hide-on-small-only">
      <div class="input-field col s10">
        <i class="material-icons prefix">search</i>
        <input placeholder="" id="icon_prefix" type="text" class="validate" ng-model="searchByName">
        <label for="icon_prefix">BUSCAR</label>
      </div>
    </div>
    
    <a href="/">
      <img src="/img/dgshoppinglogo.png" class="responsive-img col m3 offset-m1 hide-on-small-only" alt="dgshopping logo">
    </a>
    
    <a href="/">
      <img src="/img/dgshoppinglogo.png" class="responsive-img col s4 offset-s4 hide-on-med-and-up" alt="dgshopping logo">
    </a>
  </div>
  <div class="row hide-on-med-and-up">
      <div class="input-field col s10 offset-s1">
        <i class="material-icons prefix">search</i>
        <input placeholder="" id="icon_prefix" type="text" class="validate" ng-model="searchByName">
        <label for="icon_prefix">BUSCAR</label>
      </div>
    </div>
      
  <div class="med-nav">
    <nav>
      <div class="nav-wrapper grey">
        <!-- <a href="#!" class="brand-logo">Menu</a> -->
        <a href="#" data-activates="mobile-view" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
          <!-- <li><a href="/">Home</a></li> -->
          <!-- Dropdown Trigger -->
          <li><a class='dropdown-button' data-activates='dropdown1' data-constrainWidth="false" href="#">ACCESORIOS PARA INTERIOR</a>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
              <li ng-repeat="item in groupList track by $index">
                <a href="#!" ng-click="setGroupPublic(item)">{{ item }}</a>
              </li>
            </ul>
          </li>
          <!-- <li><a href="como_comprar">¿Como comprar?</a></li>
          <li><a href="#modalContact">Contacto</a></li> -->
        </ul>
        <ul class="side-nav" id="mobile-view">
          <!-- <li><a href="/">Home</a></li> -->
          <li ng-repeat="item in groupList track by $index">
            <a href="#!">{{ item }}</a>
          </li>
          <!-- <li><a href="como_comprar">¿Como comprar?</a></li>
          <li><a href="#modalContact">Contacto</a></li> -->
        </ul>
      </div>
    </nav>
  </div>
</header>