<header class="row">

  <div class="row top-bar">
    <div class="col s12 hide-on-med-and-up">
      <div class="col s1">
        <img src="/img/Panama-Flag-icon.png" class="responsive-img flag" alt="">
      </div>
      
      <div class="col s10 center ">
        <!-- <a href="#modalContact" style="color:#4da197"> -->
          <i class="fa fa-envelope" aria-hidden="true"></i> contacto@dgshopping.com
        <!-- </a> -->
      </div>
      <div class="col s1">
        <a href="/private-access">
          <i class="fa fa-user-secret" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <div class="col m12 hide-on-small-only">
      <div class="col s1">
        <img src="/img/Panama-Flag-icon.png" class="responsive-img flag" alt="">
      </div>

      <div class="col m9 center ">
          <i class="fa fa-envelope" aria-hidden="true"></i> contacto@dgshopping.com
      </div>

      <div class="col m2 right-align">
        <ul class="social-icons">
          <li>
            <a href="https://www.facebook.com/Dgshopping-664861123630342/?fref=ts" target="blank">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/dgshoppingpty/" target="blank">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="/private-access">
              <i class="fa fa-user-secret" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    
  </div>

  <div class="row bfr-nav">
    
   
    <div class="col m3 hide-on-small-only" style="margin-top: 50px; margin-bottom: -30px" >
      <div class="input-field col s10 ">
        <i class="material-icons prefix">search</i>
        <input placeholder="" id="icon_prefix" type="text" class="validate" ng-model="searchByName">
        <label for="icon_prefix">BUSCAR</label>
      </div>
    </div>
    
    <a href="/">
      <img src="/img/dgshoppinglogo.png" class="responsive-img col m3 offset-m1 hide-on-small-only" alt="dgshopping logo">
    </a>
    
    <a href="/">
      <img src="/img/dgshoppinglogo.png" class="responsive-img col s4 offset-s4 hide-on-med-and-up" alt="dgshopping logo">
    </a>
  </div>
  <div class="row hide-on-med-and-up" style="margin-bottom: -10px">
    <div class="input-field col s10 offset-s1">
      <i class="material-icons prefix">search</i>
      <input placeholder="" id="icon_prefix" type="text" class="validate" ng-model="searchByName">
      <label for="icon_prefix">BUSCAR</label>
    </div>
  </div>
      
<div id="navegador">
  <ul>
    <li ng-repeat="group in groupList track by $index">
      <a href="#" ng-click="expand(group.groupname)">{{ group.groupname }}</a>
    </li>
  </ul>
</div>

  <div class="navSon" ng-show="showsubgroup" ng-init="false" >
    <a href="search?{{item}}" ng-repeat="item in subGroupActiveList"> {{ item }}</a>
  </div>


  
</header>