<!-- Modal Structure -->
<div id="condiciones-de-entrega" class="modal" style="font-size: 14px">
  <div class="modal-content">
    <h4 class="center">Condiciones de Entrega</h4>
    <p>
<br>
<b><u>1 - Pedidos y entrega en la ciudad</u></b>
<ol style="list-style-type: disc">
  <li>Entregas en la ciudad se realizan el mismo día siempre que sean realizadas antes de las 11:00 Am. Luego de esa hora depende de ubicación y disponibilidad del servicio.</li>

  <li>En el área de la ciudad, el costo del servicio a domicilio es de un UN DÓLAR (1,00 $) dependiendo de la zona. Una vez realizado el pedido debe indicar el lugar de entrega, momento en el que se le indicara el costo del domicilio.</li>
  <li>Todos los pedidos superiores a CINCUENTA DOLARES (50,00 $) no tendrán costo adicional, siempre que las mismas sean en el área metropolitana de la ciudad de Panamá.</li>
</ol style="list-style-type: circle">

<b><u>2 – Pedidos y envíos para el interior</u></b>
<ol style="list-style-type:disc">
  <li>Los pedidos al interior del país, serán realizados el mismo día siempre que el pago sea
  realizado antes de la 1:00 Pm. En caso de ser realizado pasada la hora antes señalada, el
  envió se realizara el día siguiente.</li>
  <li>El costo del flete debe ser cancelado por el cliente al momento de retirar el pedido.</li>
  <li>Los envíos se realizan por las siguientes empresas de encomienda</li>
  <li>- Fletes Chavales (1,50$ a 3,50$) (Dependiendo del tamaño del paquete)</li>
  <li>- Uno Express (3,00 a 6,50$) (Dependiendo del tamaño del paquete)</li>
</ol>
<br>
<b><u>Horario de entrega</u></b>
<ul style="list-style-type:disc">
  <li>Lunes a Viernes 10:00 AM a 5:00 PM</li>
  <li>Sábados 10:00 AM a 4:00 PM</li>
  <li>En caso de requerir entrega fuera de nuestro horario normal, debe indicarlo al momento de realizar el pedido. Dependiendo de la disponibilidad del servicio puede coordinarse, sin embargo, tendría costo adicional.</li>
</ul>
<br>
<b><u>Puntos más lejanos de entrega según sector</u></b>

<p>San Miguelito: Super Xtra Ojo de Agua</p>
<p>Tocumen: Centro Comercial Las Américas</p>
<p>Albrook: Ciudad del Saber</p>
<p>Entregas en Panamá Pacifico, 24 de Diciembre, Milla 8 o Villa Zaita, deben coordinarse con anticipación y conllevan cargo adicional del domicilio</p>

</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>


<!-- Modal Structure -->
<div id="bienvenidos" class="modal" style="font-size: 14px">
  <div class="modal-content">
    <h4 class="center">Bienvenidos</h4>
<p>
Somos DG Shopping. Tu tienda virtual de accesorios para autos.

<p>En nuestra página web podrás encontrar todo lo que necesitas para tu auto. Desde Stickers, hasta porta placas, alfombras, covers de timón y más.</p>

Te invitamos a que des un paseo por todo lo que te podemos ofrecer


  <p>
    <b><u>Horario de ATENCION:</u></b>

    <p>Lunes a Viernes 9:00 AM a 7:00 PM</p>

    Sábados 9:00 AM a 5: 00 PM
  </p>
</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>




<!-- Modal Structure -->
<div id="quienes-somos" class="modal">
  <div class="modal-content">
    <h4 class="center">Quienes somos</h4>
<p>
<br>
<p>Somos una tienda virtual con más de 3 años en el mercado dedicada a la distribución al mayor y al detal de accesorios para autos. Estamos ubicados en la Ciudad de Panamá.</p>

<p>Nuestro objetivo es ofrecer accesorios distintos, llamativos y a precios competitivos para todos nuestros clientes.</p>

<p>Todos nuestros productos están disponibles para entrega inmediata por lo que no tienes que abonar, ni esperar algún tiempo para poder recibirlos</p>

<p>Para tu comodidad ofrecemos servicio a domicilio en el área de la ciudad y envíos por Uno Express o Fletes Chavales para el interior.</p>

<p>Somos DG SHOPPING PTY!</p>
</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>



<!-- Modal Structure -->
<div id="contacto" class="modal">
  <div class="modal-content">
    <h4 class="center">Horario de Entrega</h4>
<p>
<br>
<b><p>Pedidos al detal</p></b>

<p><i class="material-icons">phone_iphone</i> +507 62409961 / +507 63287921</p>
<br>
<b><p>Pedidos al mayor</p></b>

<p><i class="material-icons">email</i> contacto@dgshopping.com</p>
</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>

<!-- Modal Structure -->
<div id="modos-de-pago" class="modal">
  <div class="modal-content">
    <h4 class="center">Modos de pago</h4>
<p>
<br>
<b><p>Efectivo:</p></b>
<p>Si deseas realizar el pago en efectivo, puedes realizarlo al momento de la entrega.</p>

<b><p>Transferencia o ACH</p></b>

<p>En caso de que desees realizar el pago por este medio, debe ser realizado antes de coordinar la entrega en la ciudad, o antes de realizar el envió si es para el interior</p>
<br>
<b><p class="center" style="color:red">NO aceptamos pagos por servicios de encomienda (Super 99, Western Union)</p></b>
</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>