<!-- Modal Structure -->
<div id="condiciones-de-entrega" class="modal">
  <div class="modal-content">
    <h4>Condiciones de Entrega</h4>
    <p>Entregas en la ciudad se realizan el mismo día siempre que sean realizadas antes de las 11:00 Am.

Luego de esa hora depende de ubicación y disponibilidad del servicio.

En el área de la ciudad, el costo del servicio a domicilio es de un UN DÓLAR (1,00 $) dependiendo

de la zona. Una vez realizado el pedido debe indicar el lugar de entrega, momento en el que se le

indicara el costo del domicilio.

Todos los pedidos superiores a CINCUENTA DOLARES (50,00 $) no tendrán costo adicional, siempre

que las mismas sean en el área metropolitana de la ciudad de Panamá.

Los pedidos al interior del país, serán realizados el mismo día siempre que el pago sea realizado

antes de la 1:00 Pm. En caso de ser realizado pasada la hora antes señalada, el envió se realizara el

día siguiente.

El costo del flete debe ser cancelado por el cliente al momento de retirar el pedido. Los envíos se

realizan por las siguientes empresas de encomienda

Fletes Chavales (1,50$ a 3,50$) (Dependiendo del tamaño del paquete)

Uno Express (3,00 a 6,50$) (Dependiendo del tamaño del paquete)</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>


<!-- Modal Structure -->
<div id="bienvenidos" class="modal">
  <div class="modal-content">
    <h4>Bienvenidos</h4>
    <p>Somos DG Shopping. Tu tienda virtual de accesorios para autos.

En nuestra página web podrás encontrar todo lo que necesitas para tu auto. Desde Stickers, hasta

porta placas, alfombras, covers de timón y más.

Te invitamos a que des un paseo por todo lo que te podemos ofrecer</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>



<!-- Modal Structure -->
<div id="contacto" class="modal">
  <div class="modal-content">
    <h4>Horario de Entrega</h4>
    <p>Horario de entrega

Lunes a Viernes 10:00 AM a 5:00 PM

Sábados 10:00 AM a 4:00 PM

En caso de requerir entrega fuera de nuestro horario normal, debe indicarlo al momento de

realizar el pedido. Dependiendo de la disponibilidad del servicio puede coordinarse, sin embargo,

tendría costo adicional.

Horario de ATENCION:

Lunes a Viernes 9:00 AM a 7:00 PM

Sábados 9:00 AM a 5: 00 PM

Pedidos al detal

+507 62409961

+507 63287921

Pedidos al mayor

contacto@dgshopping.com
</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>



<!-- Modal Structure -->
<div id="puntos-xxx" class="modal">
  <div class="modal-content">
    <h4>Puntos xxx</h4>
    <p>Puntos más lejanos de entrega según sector

San Miguelito: Super Xtra Ojo de Agua

Tocumen: Centro Comercial Las Américas

Albrook: Ciudad del Saber

Entregas en Panamá Pacifico, 24 de Diciembre, Milla 8 o Villa Zaita, deben coordinarse con

anticipación y conllevan cargo adicional del domicilio</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>



<!-- Modal Structure -->
<div id="quienes-somos" class="modal">
  <div class="modal-content">
    <h4>Quienes somos</h4>
    <p>Somos una tienda virtual con más de 3 años en el mercado dedicada a la distribución al mayor y al

detal de accesorios para autos. Estamos ubicados en la Ciudad de Panamá.

Nuestro objetivo es ofrecer accesorios distintos, llamativos y a precios competitivos para todos

nuestros clientes.

Todos nuestros productos están disponibles para entrega inmediata por lo que no tienes que

abonar, ni esperar algún tiempo para poder recibirlos

Para tu comodidad ofrecemos servicio a domicilio en el área de la ciudad y envíos por Uno Express

o Fletes Chavales para el interior.

Somos DG SHOPPING PTY!</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>



<!-- Modal Structure -->
<div id="modos-de-pago" class="modal">
  <div class="modal-content">
    <h4>Modos de pago</h4>
    <p>Modos de Pago

Efectivo:

Si deseas realizar el pago en efectivo, puedes realizarlo al momento de la entrega.

Transferencia o ACH

En caso de que desees realizar el pago por este medio, debe ser realizado antes de coordinar la

entrega en la ciudad, o antes de realizar el envió si es para el interior

NO aceptamos pagos por servicios de encomienda (Super 99, Western Union)</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>