<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

<% include ../views/partials/head %>

	<title><%= title %></title>
	<link rel="stylesheet" href="">
</head>
<body>

<% include ../views/partials/header %>


<main class="row">
  
  <div class="row title-items">
  <h3 class="col s12">COMO COMPRAR</h3>
    <div class="container">
      
      <p>
        Solo debes realizar tú pedido vía whatsapp al 62409961
      </p>
      <ol>
        <li>En la ciudad de Panamá trabajamos con servicio de entrega a domicilio con un cargo adicional de un dólar dependiendo de la zona. Este monto debe ser cancelado por el cliente al momento de la entrega de la mercancia o el producto.</li>
        <li>Para entregas en el interior enviamos por "Uno Express" o "Fletes Chavales".</li>
        <li>Te enviamos los datos de nuestras cuentas, una vez realizado el pago nos envías foto del slip junto con todos los datos para la entrega. Enviamos el mismo día siempre que el pago sea realizado antes de la 1 p.m. (Lunes a Viernes) ó los Sábados antes de las 10 a.m. Se retira al día siguiente directo en la oficina de la empresa de encomienda seleccionada.</li>
        NOTA: El costo del flete corre por cuenta del comprador.
      </ol>
    </div>
  </div>


</main>

<% include ../views/partials/footer %>

</body>
</html>