<!DOCTYPE html>
<html ng-app="generalView">
<head>

  <% include ../views/partials/head %>

	<title><%= title %></title>
</head>
<body ng-controller="navController">

<% include ../views/partials/header %>

<!-- CARROUSE  -->
  <div class="row">
    <div class="carousel carousel-slider center" data-indicators="true">

    <div class="carousel-item white-text img-carousel1" ng-style="{'background-image':'url(../img/carrousel/' + carrousel[0].picture + ')'}">
        <h2 style="font-size: 45px;">{{ carrousel[0].title }}</h2>
        <p class="white-text" style="font-size: 25px; font-family: 'Indie Flower', cursive;">{{ carrousel[0].detail }}</p>
    </div>
    <div class="carousel-item white-text img-carousel1" ng-style="{'background-image':'url(../img/carrousel/' + carrousel[1].picture + ')'}">
        <h2 style="font-size: 45px;">{{ carrousel[1].title }}</h2>
        <p class="white-text" style="font-size: 25px; font-family: 'Indie Flower', cursive;">{{ carrousel[1].detail }}</p>
    </div>
    <div class="carousel-item white-text img-carousel1" ng-style="{'background-image':'url(../img/carrousel/' + carrousel[2].picture + ')'}">
        <h2 style="font-size: 45px;">{{ carrousel[2].title }}</h2>
        <p class="white-text" style="font-size: 25px; font-family: 'Indie Flower', cursive;">{{ carrousel[2].detail }}</p>
    </div>
    <div class="carousel-item white-text img-carousel1" ng-style="{'background-image':'url(../img/carrousel/' + carrousel[3].picture + ')'}">
        <h2 style="font-size: 45px;">{{ carrousel[3].title }}</h2>
        <p class="white-text" style="font-size: 25px; font-family: 'Indie Flower', cursive;">{{ carrousel[3].detail }}</p>
    </div>

    </div>
  </div>
<!-- CARROUSE  -->

<main ng-controller="list-products" ng-Cloak>


  <div class="row">
    <div class="row">
      <h3 class="col s12">PRODUCTOS DESTACADOS</h3>
    </div>

    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">search</i>
        <input placeholder="" id="icon_prefix" type="text" class="validate" ng-model="searchByName">
        <label for="icon_prefix">Filtrar busqueda por Nombre, Palabra, Precio...</label>
      </div>

    </div>

    <div class="row gallery-row">


      <div ng-repeat="product in productList | filter: searchByName | limitTo: valueLimitTo | orderBy: '-date' track by $index" class="col s12 m4 l3 outstanding-product" ng-show="product.exist">

        <div class="padre-watch-product">
          <img class="responsive-img" ng-src="img/products/{{ product.photos[0] }}" alt="imagen de producto">
          <a href="product_detail/{{ product._id }}">
            <span class="center-align watch-product">
              Ver Detalle
            </span>
          </a>
        </div>
        <div class="center-align info-product">
          <span class="product-group">{{ product.group }}</span><br>
          <span class="product-name">{{ product.name }}</span><br>
          <span class="product-price">{{ product.price | currency }}</span>
          <br><span class="product-price">{{ product.date }}</span>
        </div>

      </div>
    </div>

    <div class="row center-align">


      <button class="waves-effect waves-light btn" ng-click="showMoreProducts()" style="margin-top:40px" title="Mostrar mas productos">
        <span class="">
          <i class="material-icons">add_box</i>
        </span>

      </button>

      <button class="waves-effect waves-light btn" ng-click="showLessProducts()" style="margin-top:40px"  title="Mostrar menos productos">
        <span class="">
          <i class="material-icons">indeterminate_check_box</i>
        </span>

      </button>

      <button class="waves-effect waves-light btn" ng-click="showAllProducts()" style="margin-top:40px" title="Mostrar todos los productos">
        <span class="">
           <i class="material-icons">all_inclusive</i>
        </span>

      </button>
    </div>


  </div>

  <div class="row parallax-container">
    <div class="parallax"><img src="/img/contact3.jpg">
    </div>
  </div>


</main>


<% include ../views/partials/footer %>
<!-- convoke modal_Contact  -->


<script src="/ctrllerPublicProducts.js"></script>


</body>
</html>
