<!DOCTYPE html>
<html ng-app="generalView">
<head>
	
  <% include ../views/partials/head %>

	<title><%= title %></title>
</head>
<body ng-controller="navController">

<% include ../views/partials/header %>


<!-- CARROUSE  -->
  <div class="row">
    <div class="carousel carousel-slider center" data-indicators="true">
      <!-- <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
      </div -->
      <div class="carousel-item white-text img-carousel1" >
        <h2 style="font-size: 45px;">Protector para Mandos</h2>
        <p class="white-text" style="font-size: 25px; font-family: 'Indie Flower', cursive;">En diferentes colores!</p>
      </div>
      <div class="carousel-item white-text img-carousel2" >
        <h2 style="font-size: 45px;">Gran variedad de productos</h2>
        <p class="white-text" style="font-size: 25px; font-family: 'Indie Flower', cursive;">Para todas las marcas!</p>
      </div>
      <div class="carousel-item white-text img-carousel3">
        <h2 style="font-size: 45px;">Materiales de Calidad</h2>
        <p class="white-text" style="font-size: 25px; font-family: 'Indie Flower', cursive;">Duraderos</p>
      </div>
      <div class="carousel-item white-text img-carousel4" >
        <h2 style="font-size: 45px;">Protección y Color</h2>
        <p class="white-text" style="font-size: 25px; font-family: 'Indie Flower', cursive;">Que tus llaves hagan juego siempre!</p>
      </div>
    </div>
  </div>
<!-- CARROUSE  -->

<main ng-controller="list-products" ng-Cloak>


  <div class="row">
    <div class="row">
      <h3 class="col s12">PRODUCTOS DESTACADOS</h3>
    </div>

    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">search</i>
        <input placeholder="" id="icon_prefix" type="text" class="validate" ng-model="searchByName">
        <label for="icon_prefix">Filtrar busqueda por Nombre, Palabra, Precio...</label>
      </div>

    </div>

    <div class="row gallery-row">


      <div ng-repeat="product in productList | filter: searchByName | limitTo: valueLimitTo | orderBy: '-date' track by $index" class="col s12 m4 l3 outstanding-product" ng-show="product.exist">
        
        <div class="padre-watch-product">
          <img class="responsive-img" ng-src="img/products/{{ product.photos[0] }}" alt="imagen de producto">
          <a href="product_detail/{{ product._id }}">
            <span class="center-align watch-product">
              Ver Detalle          
            </span>
          </a>
        </div>
        <div class="center-align info-product">
          <span class="product-group">{{ product.group }}</span><br>
          <span class="product-name">{{ product.name }}</span><br>
          <span class="product-price">{{ product.price | currency }}</span>
          <br><span class="product-price">{{ product.date }}</span>
        </div>
        
      </div>
    </div>

    <div class="row center-align">


      <button class="waves-effect waves-light btn" ng-click="showMoreProducts()" style="margin-top:40px" title="Mostrar mas productos">
        <span class="">
          <i class="material-icons">add_box</i>      
        </span>

      </button> 

      <button class="waves-effect waves-light btn" ng-click="showLessProducts()" style="margin-top:40px"  title="Mostrar menos productos">
        <span class="">
          <i class="material-icons">indeterminate_check_box</i>     
        </span>

      </button> 

      <button class="waves-effect waves-light btn" ng-click="showAllProducts()" style="margin-top:40px" title="Mostrar todos los productos">
        <span class="">
           <i class="material-icons">all_inclusive</i>      
        </span>

      </button> 
    </div>

      

  </div>

  <div class="row parallax-container">
    <div class="parallax"><img src="/img/contact3.jpg">
    </div>
  </div>

  <div class="row contact-info">
    <h5 class="center-align">PARA VENTAS AL MAYOR puedes contactarnos a través de: <a href="#modalContact" style="color:#4da197">contacto@dgshopping.com</a></h5>
    <p class="center-align">HORARIO DE ATENCIÓN DE LUNES A VIERNES de 8 AM a 6 PM - SÁBADO DE 9 AM a 4 PM.</p>

    <% include ../views/partials/modal_contact %>
    
  </div>

</main>


<% include ../views/partials/footer %>


<script src="/ctrllerPublicProducts.js"></script>


</body>
</html>