body { font-family: 'Raleway', sans-serif; }
.flag {
  width: 30px;
}
.top-bar {
  background-color: #f5f5f5;
  color: #98b1f1;
  padding-top: 2px;
  padding-bottom:1px;
  vertical-align: middle;
  margin-bottom: 0;
}
.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-icons li {
  float:left;
  font-size: 20px;
  width: 30px;
  text-align: center;
}
.social-icons li a {
  display: block;
  text-decoration: none;
  color: #3b5998;
}
.social-icons li a:hover {
  color: white;
  background-color: #3b5998;
}
.bfr-nav{
  background-color: #fff;
  padding-top: 10px;
}
.med-nav {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav ul li a:hover{
  background-color: #4f9990;
}
.img-carousel1{
  /*background-image: url(../img/test1.jpg);*/
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.img-carousel2{
  background-image: url(../img/test3.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.img-carousel3{
  background-image: url(../img/test2.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.img-carousel4{
  background-image: url(../img/test4.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.outstanding{
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #999999;
  background-color: #CDCDCD;
  color: #737373;
  padding-top: 5px;
  padding-bottom: 5px;
}
.gallery-row {
  position: relative;
}
.outstanding-product {
  width: 650px;
}
.padre-watch-product {
  position: relative;
}
.watch-product {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:rgb(0,0,0);
  opacity:0.7; /* Opacidad 60% */
  filter:alpha(opacity=70); /* IE < 9.0 */
  color: white;
  position:absolute;
  bottom:6px;
  left: 0px;
}
.padre-watch-product img {
  width: 380px;
  height: 400px;
 }
.watch-product:hover {
  background-color:#fff;
  color:#000;
}
.info-product {
  margin-top: -4px;
  background-color: #f6f6f6;
}
.product-group {
  color:#acacac;
  font-weight: 700;
  font-size: 14px;
}
.product-name {
  color:#9b9b9b;
  font-size: 16px;
  padding-top: 5px;
}
.product-price {
  color:#606060;
  font-weight: 700;
  padding-bottom: 5px
}
.footbox {
  padding-left: 50px;
}
#dropdown1 a:hover {
  color:#fff;
}
.parallax-container {
      height: 300px;
      margin-bottom: 0px;
}
.contact-info {
 background-color: white;
 padding-top: 10px;
 padding-bottom: 10px;
 margin-top: 0;
 margin-bottom: 0;
}
.footer-links {
  text-align: center;
  padding: 22px;
  color:#999999;
  background-color: #f5f5f5;
  font-size: 18px;
}
.footer-links a {
  text-decoration: none;
  color:#999999;
}
.footer-links a:hover {
  text-decoration: none;
  color:#999999;
}
.footer-socialmedia {
  text-align: center;
  padding-bottom: 10px;
  color:#999999;
  background-color: #f5f5f5;
  font-size: 12px;
}
.footer-socialmedia a {
  text-decoration: none;
  color:#999999;
}
.footer-socialmedia a:hover {
  text-decoration: none;
  color:#999999;
}
.footcopyright {
  text-align: center;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #999999;
  background-color: #CDCDCD;
  color: #737373;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.footcopyright a{
  text-decoration: none;
  color:white;
}
.footcopyright a:hover{
  text-decoration: none;
  color:white;
}


#navegador {
 font-size: 20px;
 clear:both;
 float:left;
 overflow:hidden;
 width:100%;
 background-color:#cdcdcd;
 border-top: 1px solid grey;
 text-transform: uppercase;
 
}
#navegador ul{
   list-style-type: none;
   text-align: center;
}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0;
}
#navegador li a {
   padding: 18px 15px;
   color: #fff;
   text-decoration: none;
}
#navegador li a:hover{
   color: grey;
}

.navSon {
  font-size: 22px;
  background-color: #ffffff;
  color: grey;
  text-align: center;
  border-bottom: 1px solid #999;
  padding-top: 80px;
  padding-bottom: 20px;

}
.navSon a{
  text-decoration:none; 
  color: grey;
  padding-left: 15px;
  padding-right: 15px;
}
.navSon a:hover{
  text-decoration:none; 
  font-size: 22px;
  color: #98b1f0;
  text-align: center;
  border-bottom: 1px solid grey;
}
.subgroupfinded {
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding-left: 50px;
  margin-bottom: 10px;
}

.subgroupfinded b { 
  font-size: 28px;
  color: #98b1f0;
}

























